.global-search-container {
  display: flex;
  align-items: center;
  background-color: #f3f4f6; /* Màu nền xám nhẹ */
  padding: 8px 12px;
  border-radius: 8px;
  width: 300px; /* Độ rộng tùy chỉnh */

  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.global-search-container:focus-within {
  border-color: #4fb8ff;
  box-shadow: 0 0 6px 2px rgba(79, 184, 255, 0.45); 
}

.search-icon {
  width: 20px;
  height: 20px;
  color: #9ca3af;
  margin-right: 8px;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  color: #374151;
  font-size: 14px;
}
