services:

  postgres:
    image: postgres
    restart: unless-stopped
    networks:
      - test-network
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: main_db
      TZ: Asia/Ho_Chi_Minh
    volumes:
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "5432:5432"


networks:
  test-network:
    driver: bridge
